html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
html{
	width:100%}
@font-face {
	font-family:"San Francisco Bold";
	src: url("../assests/San_Francisco_Bold.otf");}
@font-face {
	font-family:"San Francisco";
	src: url("../assests/San_Francisco.otf");}
@font-face {
	font-family:"Digital Dream";
	src: url("../assests/Digital\ Dream.ttf");}
ol.topNavOl {
	list-style-type: none;
	text-align: center;
	background-color: black;
	padding: 8px;} 	
li.topNav{
	display: inline;
	padding: 12px;
	font-size: 12px;}
li.classname{
	display: inline;
	color: white;
	font-size: 13px;
	font-family: "San Francisco Bold";}
a:link.nav {
	color:white; 
	text-decoration: none;}
a:visited.nav {
	color: #D3D3D3;}
h1{
	font-family: "San Francisco Bold";
	font-size: 25px;
	text-align: center;}
body {
	background-color: white;
	color: black;
	font-family: "San Francisco";
}
div.dateTime{
	text-align: center;
	font-size: 30px;}
div.forms{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;}
.colorForm{
	margin-left: auto;
	margin-right: auto;}
form.otherForm{
	margin-left: auto;
	margin-right: auto;}
.spaceme{
	padding: 5px;
	margin-bottom: 10px;}
.centerText{
	font-size: 25px;
	text-align: center;
	font-family: "San Francisco Bold";}
input.spaceme {
	border: 2px solid red;
}
footer{
	text-align: center;
	bottom: 0;
	left: 0;
	padding: 0px;
	background-color: black;
	color: white;
	font-family: "San Francisco";
	}
