html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
@font-face {
	font-family:"San Francisco";
	src: url("San Francisco.otf");}
@font-face {
	font-family:"San Francisco Bold";
	src: url("San Francisco Bold.otf");}
@font-face {
	font-family:"Concetta Kalvani Signature";
	src: url("Concetta Kalvani Signature.ttf");}
body {
	background-color: white;
	color: black;
	font-family: "San Francisco";
	margin:0;}
ol{
	list-style-type: none;
	text-align: center;
	background-color: black;
	padding: 8px;} 	
li{
	display: inline;
	padding: 12px;
	font-size: 12px;}
li.classname{
	color: white;
	font-size: 13px;
	font-family: "San Francisco Bold";}
a:link {
	color:white; 
	text-decoration: none;}
a:visited {
	color: #D3D3D3;}
.center_image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px; }
h1 {
	font-size: 50px;
	text-align: center;
	font-family: "Concetta Kalvani Signature";}
.intro{
	margin: 50px;}
footer{
	text-align: center;
	bottom: 0;
	left: 0;
	border: 3px solid black;
	padding: 0px;
	background-color: black;
	color: white;
	font-family: "San Francisco";
	}
footer.shortpage{
	position: fixed;
	width: 100%;}